// Navigation code here
nav {
    width: 40%;
    display: flex;
    justify-content: space-evenly;
    background: @nav-bg;
    border-color: @nav-border;
    margin-top: 20px;

    a {
        .nav-font-class;
    margin-bottom: 10px;
   
   
   
}
}