// Navigation code here
nav {
    width: 40%;
    display: flex;
    justify-content: space-evenly;
    background: @nav-bg;
    border-color: @nav-border;
    margin-top: 20px;

    a {
    text-decoration: none;
    color: @nav-font;
    font-size: 1.6rem;
    font-weight: 600;
    margin-bottom: 10px;
   
   
   
}
}